/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
https://designsystem.digital.gov/documentation/settings/
*/

@use "uswds-core" with (
  $theme-show-compile-warnings: true,
  $theme-show-notifications: false,
  // Global Max-width and spacing settings
  $theme-site-alert-max-width: "widescreen",
  $theme-banner-max-width: "widescreen",
  $theme-header-max-width: "widescreen",
  $theme-identifier-max-width: "widescreen",
  $theme-footer-max-width: "widescreen",
  $theme-grid-container-max-width: "widescreen",
  $theme-in-page-nav-main-content-max-width: "widescreen",
  $theme-site-margins-width: 8,

  // Theme colors
  // https://designsystem.digital.gov/design-tokens/color/theme-tokens/
  // You can set using system tokens:
  // https://designsystem.digital.gov/design-tokens/color/system-tokens/
  //
  // Primary
  $theme-color-primary-lighter: "indigo-cool-20v",
  $theme-color-primary-light: "indigo-cool-40v",
  $theme-color-primary: "indigo-cool-60v",
  $theme-color-primary-vivid: "indigo-warm-60v",
  $theme-color-primary-dark: "indigo-cool-70v",
  $theme-color-primary-darker: "indigo-cool-80v",

  // Base
  $theme-color-base-lightest: "gray-cool-3",
  $theme-color-base-darkest: "gray-cool-80",
  $theme-color-base-ink: "gray-cool-80",

  // Secondary
  $theme-color-secondary-lighter: "violet-20",
  $theme-color-secondary-light: "violet-40",
  $theme-color-secondary: "violet-50",
  $theme-color-secondary-vivid: "violet-60",
  $theme-color-secondary-dark: "violet-70",
  $theme-color-secondary-darker: "violet-80",

  // Accent
  $theme-color-accent-cool-lighter: "mint-cool-10v",
  $theme-color-accent-cool-light: "mint-cool-20v",
  $theme-color-accent-cool: "mint-cool-30v",
  $theme-color-accent-cool-dark: "mint-cool-50v",
  $theme-color-accent-cool-darker: "mint-cool-60v",

  $theme-color-accent-warm-lighter: "gold-10v",
  $theme-color-accent-warm-light: "gold-20v",
  $theme-color-accent-warm: "gold-30v",
  $theme-color-accent-warm-dark: "gold-40v",
  $theme-color-accent-warm-darker: "gold-50v",

  $theme-focus-color: "primary",

  $theme-color-emergency: "orange-warm-70v",
  $theme-color-emergency-dark: "orange-warm-80v",

  $theme-identifier-background-color: "base-lightest",

  // Specify USWDS font and image paths.
  // Same paths are successfully used for both Next.js and Storybook.
  $theme-font-path: "/uswds/fonts",
  $theme-image-path: "/uswds/img",
  // Ensure utility classes always override other styles
  $utilities-use-important: true,

  // Use USWDS defaults for typography
  //
  // 18px based on typeset tokens
  // https://designsystem.digital.gov/design-tokens/typesetting/font-size/
  $theme-body-font-size: 7,
  // Lineheight tightened to 1.5 since font size was increased.
  $theme-body-line-height: 4,
  $theme-style-body-element: true,
  $theme-font-type-sans: "public-sans",
  $theme-global-content-styles: true,
  $theme-global-link-styles: true,
  $theme-heading-margin-top: 3rem,
  $theme-paragraph-margin-top: 1rem,
  $theme-global-paragraph-styles: true
);
